{% extends 'homenav.html' %}
{% block content %}
<div class="container">
<h1 class="h1" style="text-align: center; margin-top:200px; background-color: white; "> <p style="color:orange; display: inline;">E<p style="color:rgb(20, 163, 75); display: inline;">D</p><p style="color:orange; display: inline;">U</p> <p style="color:rgb(20, 163, 75); display: inline;">-T<p style="color:orange; display: inline;">U</p><p style="color:orange; display: inline;">T</p><p style="color:rgb(221, 14, 48); display: inline;">ION</p></h1>
</div>
{% endblock %}