{% extends 'teachernav.html' %}
{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>MESSAGE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.messge}}</td>
                    <td><a href="{% url 'markview' data.id%}"><button class="btn btn-primary">MARK AS READ</button></a> </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}